body{
  width: 100%;
  height: 100%;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
}

.background-container{
  background-image: url("../img/tweb-back-mypage.jpg");
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.container{
  border: 2px dotted black;
  padding: 5px;

}

.box{
  min-height: 10px;
  clear: both;
  margin-top: 5px;
}

.slideshowbox{
  margin-top: 50px;

}

.content{
  background-color: white;
  border: 2px dotted red;
  padding: 5px;
  min-height: 500px;
}

@media(min-width:480px){
  .content{
    margin: 0px 100px 0px 100px;
  }

}

.clear-fix{
  clear:both;
}

.navbar{
    list-style-type: none;
    overflow: hidden;
    background-color: #248f24;
    width: 100%;
    height: 50px;
}

#logoImg{
  width: 6%;
  height: 50px;
  float: left;
}

#search, #log, #add{
   float: right;
   display: block;
   color: white;
   padding: 10px 15px;
   text-decoration: none;
   border-right: 1px solid #bbb;
   padding-top: 0px;
   line-height: 50px;
}

.portrait{
  clear: both;
}

.left{
  float: left;
}

#personalImg{
  width: 151px;
  height: 120px;
  padding-left: 5px;
  padding-top: 5px;
}
#frameImg{
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
}

#info{
  font-size: 25px;
  font-family: sans-serif;
}

.info{
  padding: 5px;
  margin-top: 10px;
}

.single-info{
  clear: both;
  padding: 3px;
}

.infop{
  width: 100px;
}
.lineSeparator {
  height: 30px;
  border-style: solid;
  border-color: green;
  border-width: 4px 0 0 0;
  border-radius: 20px;
  margin-top: 18%;
}

.lineSeparator:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: greenyellow;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.slideShow{
 height: 400px;
 min-width: 200px;
 border: 3px solid green;
}

.slideShow img{
  height: 300px;
  width: auto;
}

.slideShowfixinner{
  display: table;
  margin: 0 auto;
}

.slideShowfixouter{
  width: 100%;
}

#rev{
  border: 3px solid green;
  margin-top: 30px;
  padding: 10px;
  margin: 30px;
}

.slideButtBox{
  padding-left: 20px;
  padding-top: 4px;
  height: 20px;
}
