body{
  width: 100%;
  height: 100%;
  margin-top: 80px;
  margin-left: 0%;
  margin-right: 0%;
}

.background-container{
  background-image: url("../img/tweb-back-mypage.jpg");
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.navbar{
    list-style-type: none;
    overflow: hidden;
    background-color: #248f24;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 99999999;
}

#logoImg{
  width: 6%;
  height: 50px;
  float: left;
}

#back{
  float: right;
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-right: 1px solid #bbb;
  padding-top: 0px;
  line-height: 50px;
}

#structImg{
  width: 150px;
  height: 150px;
  margin-top: 50px;
}

.container{
  border: 0px dotted black;
  padding: 5px;
  margin-top: 20px;
}

.content{
  background-color: white;
  box-shadow: 10px 10px 5px #4f2b2b;
  border: 0px dotted red;
  padding: 20px 5px;
  min-height: 500px;
}

@media(min-width:480px){
  .content{
    margin: 0px 100px 0px 100px;
  }
}

.box{
  min-height: 10px;
  clear: both;
  margin-top: 5px;
}

.portrait{
clear: both;
}

.left{
  float: left;
}

.right{
  float: right;
}

.buttonleftfix{
  margin-left: 10px;
}

.buttonrightfix{
    margin-right: 10px;
}

.info{
  padding: 5px;
  margin-top: 10px;
}

.single-info{
  clear: both;
  padding: 3px;
}

.infop{
  width: 100px;
}

#personalImg{
  width: 151px;
  height: 120px;
  padding-left: 5px;
  padding-top: 5px;
}

#frameImg{
  position: absolute;
  width: 200px;
  margin-left: 5%;
  margin-top: 6%;
}

#info{
  font-size: 25px;
  font-family: sans-serif;
}

.review-container{
  padding-top: 10px;
}

#textRev{
  width: 50%;
  margin-bottom: 5px;
}

#nameVisitor{
  margin-top: 3%;
}

#rev{
  margin-top: 5px;
  border: 2px solid black;
  padding: 13px;
}

.clear-fix{
  clear:both;
}
